@model Appointment
@{
    string colorBand = "task__band-grey";
}


@switch (Model?.Classification?.Name)
{
    case "Awaiting":
        colorBand = "task__band-grey";
        break;
    case "Succesfull":
        colorBand = "task__band-green";
        break;
    case "Missed":
        colorBand = "task__band-yellow";
        break;
    case "Canceled":
        colorBand = "task__band-red";
        break;
}
<div class="task-container">
    <div class="task__info-container">
        <div>
            <span class="task__band-round @colorBand font-secondary">
                @Model?.Classification?.Name
            </span>
        </div>
        <div>
            <span class="task__info font-secondary">
                Posted on: @Model?.PostDateTime
            </span>
        </div>
    </div>
    <section class="task__title">
        <h3>Task/appointment on @Model?.AppointmentDateTime</h3>
    </section>
    <section class="task__feature">
        <label for="objective">
            <span class="font-bold">Objective</span>
        </label>
        <p id="objective">@Model?.Objective</p>
    </section>
    <section class="task__feature">
        <label for="reason">
            <span class="font-bold">Reason</span>
        </label>
        <p id="reason">@Model?.Reason</p>
    </section>
    <section class="task__feature">
        <label for="additionalInfo">
            <span class="font-bold">Additional Info</span>
        </label>
        <p id="additionalInfo">@Model?.AdditionalInfo</p>
    </section>
    <div class="task__options">
        <form asp-page="/AddAppointment" asp-page-handler="Remove" method="post">
            <input type="hidden" name="appointmentId" value="@Model?.Id" />
            <input type="hidden" name="urlClassification" value="@Model?.Classification?.Name" />
            <button type="submit" class="btn btn-red deleteButton">Delete</button>
        </form>
        <div class="btn btn-blue drop-button drop-down">
            Mark As
            <div class="drop-down__content">
                <ul class="list drop-down__list">
                    <vc:appointment-classification appointment-id="@Model!.Id" current-classification="@Model?.Classification?.Name"/>
                </ul>
            </div>
        </div>
    </div>
</div>