@model AppointmentsListViewModel


<div class="container">
    @if(Model.Appointments.Count() != 0)
    {
        @foreach (var a in Model.Appointments)
        {
            <partial name="AppointmentSummary" model="a" />
            //render the Partial view from View/Shared folder
        }
        <div class="pagination-container" pagination-model="@Model?.PaginationInfo" page-action="Index"
             page-classification="@Model?.Classification"
             style-a="pagination__links"
             page-selected="pagination__page-selected">
        </div>
    }
    else
    {
         <h2>You don't have any @Model?.Classification appointments/tasks :( </h2>
    }
</div>




