@model AppointmetnsListViewModel


<div class="container">
    @foreach (var a in Model.Appointments ?? Enumerable.Empty<Appointment>())
    {
        <partial name="AppointmentSummary" model="a"/> //render the Partial view from View/Shared folder
    }
</div>


