@model AppointmentsListViewModel


<div class="container">
    @foreach (var a in Model.Appointments ?? Enumerable.Empty<Appointment>())
    {
        <partial name="AppointmentSummary" model="a"/> //render the Partial view from View/Shared folder
    }
    <div class="pagination-container" pagination-model="@Model?.PaginationInfo" page-action="Index" 
         page-classification="@Model?.Classification"
         style-a="pagination__links"
         page-selected="pagination__page-selected"></div>
</div>




