@model IEnumerable<Appointment>


<div class="container">
    @foreach (var a in Model ?? Enumerable.Empty<Appointment>())
    {
        <partial name="AppointmentSummary" model="a"/> //render the Partial view from View/Shared folder
    }
}
</div>


