:root {
    --color-background-primary: #34b7eb;
    --color-background-secondary: #bbe2f2;

    --color-font-primary: #050505;
    --color-font-secondary: #ffffff;

    --color-link-primary: rgb(255, 255, 255);
    --color-link-primary_hover: rgb(214, 214, 214);
    --color-link-secondary: rgb(74, 255, 83);
    --color-link-secondary_hover: rgb(203, 250, 184);

    --color-body: #e0e0e0;

    --color-btn-primary: rgb(24, 151, 255);
    --color-btn-primary_hover: rgb(138, 197, 245);
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    margin: 0;
    background: var(--color-body);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

footer {
    color: var(--color-font-secondary);
    background: var(--color-background-primary);
}

header {
    background: var(--color-background-primary);
    color: var(--color-font-secondary);
}

.container {
    max-width: 1140px;
    min-width: 200px;
    margin: 0 auto;
    padding: 1rem;
}

*, *::after, *::before {
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    body {
        font-size: 1.9rem;
    }
}

/*buttons*/
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    padding: 1rem 1.3rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    color: white;
    transition: background 0.15s;
}


.btn-blue {
    background: var(--color-btn-primary);
}
    .btn-blue:hover {
        background: var(--color-btn-primary_hover);
    }


.btn-container{
    margin-top: 2rem;
}
.btn-submit {
    margin-top: 1.5rem;
}
.btn-red {
    background: red;
}

    .btn-red:hover {
        background: rgb(241, 115, 115);
    }


/*links*/
.link-primary {
    color: var(--color-link-primary);
    font-weight: 500;
    cursor: pointer;
}

    .link-primary:hover {
        color: var(--color-link-primary_hover);
        transition: color 0.15s;
    }

.link-secondary {
    color: var(--color-link-secondary);
    font-weight: 500;
}

    .link-secondary:hover {
        color: var(--color-link-secondary_hover);
        transition: color 0.15s;
    }

/*Fonts*/
.font-primary {
    color: var(--color-font-primary);
}

.font-secondary {
    color: var(--color-font-secondary);
}

.font-bold {
    font-weight: bold;
}
.font-danger{
    color: red;
}

/*Header*/
.h1-header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*taks/appointments container*/
.task-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 5px solid lightblue;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.8rem;
}

    .task-container p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: medium;
    }
.task__info-container{
    display: flex;
    flex-direction: column;
}
.task__feature {
    border: 2px solid #81cf7c;
    padding: 0.5rem;
    overflow-wrap: break-word;
}

.task__title {
    border-bottom: 2px solid #81cf7c;
    margin-top: 0.5rem;
}

    .task__title h3 {
        margin-bottom: 0;
        margin-top: 0;
    }

.task__band-grey {
    background: rgb(151, 145, 145);
}

.task__band-green {
    background-color: rgb(58, 202, 2);
}

.task__band-yellow {
    background-color: rgb(195, 209, 0);
}

.task__band-red {
    background: rgb(255, 76, 32);
}

.task__band-round {
    border-radius: 15px;
    margin: 0;
    padding: 0.5rem;
    font-size: small;
}
.task__info {
    font-size: small;
    background-color: blueviolet;
    padding: 0.4rem;
    border-radius: 10px;
}
.task__options {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
@media screen and (min-width: 650px) {
    .task__info-container {
        flex-direction: row;
    }
    .task__info {
        font-size: small;
        background-color: blueviolet;
        padding: 0.4rem;
        border-radius: 10px;
        margin-left: 3rem;
    }
}



/*Pagination Links*/
.pagination-container {
    margin-top: 1.5rem;
}

.pagination__links {
    border: 3px solid rgb(30, 180, 230);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: white;
    background: rgb(0, 170, 248);
}

    .pagination__links:hover {
        background: #7bd1f3;
    }

.pagination__page-selected {
    background: #7bd1f3;
}

/*NavigationBar*/
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.nav__list {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.nav__item {
    margin-top: 1rem;
    margin-left: 2rem;
}

@media screen and (min-width: 650px) {
    .nav {
        flex-direction: row;
        align-items: center;
    }

    .nav__list {
        flex-direction: row;
    }

    .nav__item {
        margin-top: 0;
        margin-left: 0;
        margin-right: 2rem;
    }
}


/*footer*/

/*footer*/
.ft-flex {
    background: var(--color-background-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ft-grid {
    display: grid;
    grid-template-rows: 1fr;
}

.ft__containers {
    padding: 2rem;
}

.ft__item {
    margin-bottom: 0;
}

.ft__bottom {
    align-self: center;
}


@media screen and (min-width: 650px) {
    .ft-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/*add appointment*/
.add-area {
    display: flex;
    flex-direction: column;
}

.add-input {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 3px solid var(--color-background-primary);
    border-radius: 5px;
    outline: 0;
    font-size: large;
}
.add-btn {
    margin-left: 3rem;
}

    .add-input:focus {
        transition: box-shadow 0.13s;
        box-shadow: 0px 0px 4px 2px var(--color-background-primary);
    }

.add-label {
    font-weight: 500;
}

.add-area h3 {
    border-bottom: 3px solid var(--color-background-primary);
}

/*Date time picker*/
.add-dateTime {
    width: 250px;
    outline: 0;
    border: none;
    background-color: var(--color-background-primary);
    color: white;
    border-radius: 5px;
    transition: box-shadow 0.13s;
}

    .add-dateTime:focus {
        box-shadow: 0px 0px 4px 2px rgb(47, 255, 210);
    }

input::-webkit-datetime-edit {
    padding: 0.2rem;
    font-size: 1.7rem;
    border-radius: 5px;
}

input::-webkit-datetime-edit-text {
    color: red;
    padding: 0 0.3rem;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input::-webkit-datetime-edit-month-field {
    color: white
}

input::-webkit-datetime-edit-year-field {
    color: white;
}
