@page
@model OnTime.Pages.AddAppointmentModel

<div asp-validation-summary="All" class="font-danger"></div>

<div class="container">
      <form class="add-area" method="post" >
        <h3>Add Task/Appointment</h3>
        <label class="add-label" for="objective">Objective</label>
        <textarea id="objective" class="add-input"  rows="2" asp-for="CurrentAppointment.Objective"></textarea>
        <label class="add-label" for="reason">Reason</label>
        <textarea id="reason" class="add-input" rows="2" asp-for="CurrentAppointment.Reason"></textarea>
        <label class="add-label" for="AdditionalInfo"
          >Additional Information</label
        >
        <textarea
          id="AdditionalInfo"
          class="add-input"
          rows="2"
          asp-for="CurrentAppointment.AdditionalInfo"
        ></textarea>
        <label for="meeting-time"
          >Choose a time for your task/appointment</label
        >
        <input
          class="add-dateTime"
          type="datetime-local"
          id="meeting-time"
               min="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")"
               max="@DateTime.Now.AddYears(50).ToString("yyyy-MM-ddThh:mm")"
          asp-for="CurrentAppointment.AppointmentDateTime"
        />
        <button class="btn btn-blue btn-submit" type="submit">Submit</button>
      </form>
    </div>
